<section id="vineyard-bordeaux">
	<div class="container-fluid">
    	<div class="media">
    		<img class="fronsac-img" src="{{ site.baseurl }}img/bordeaux.jpg">
    	</div>
    	<div>
    		<h1>Bordeaux</h1>
    	</div>
    	<div class="container vineyard-txt">
    		<ul>
    			<li>The Bordeaux appellation covers the entire Bordeaux wine region, a very large geographical area with a wide variety of soils and terroirs.</li>
    			<li>The wines are not produced from grapes grown exclusively in the specific AOCs such as Margaux or Pomerol, but are either sourced from a variety of different vineyards or use different grape blends and aging methods otherwise not permitted within the other AOCs.</li>
    			<li>For red wines, the most planted grape varietals are Merlot and Cabernet Sauvignon. As most regional Bordeaux AOC wines are produced on the Right Bank, Cabernet Franc is often found in the blend too. Winemakers are using more and more Malbec, but Petit Verdot is not often seen yet.</li>
    			<li>In the right hands, wines can be excellent values with good flavour structure. Bordeaux reds are known for offering a palette of infinite nuances and able to combine their virtues in many ways.</li>
    			<li>Bordeaux is a wine meant to be enjoyed with others.</li>
    		</ul>
            <h3>Types of Soil</h3>
            <div class="sand-grape-type">
                <img src="{{ site.baseurl }}img/gravel.png">
                <h4>GRAVEL</h4>
                <img src="{{ site.baseurl }}img/chalky.png">
                <h4>CHALKY-CLAYOUS</h4>
            </div>
            <h3>Grapes</h3>
            <div class="sand-grape-type">
                <img src="{{ site.baseurl }}img/red.png">
                <h4>RED</h4>
                <img src="{{ site.baseurl }}img/white.png">
                <h4>WHITE</h4>
            </div>
    	</div>
    </div>
</section>