<section id="contact-us">
  {% include nav.html %}
  <div class="container">
    <div class="media">
      <div class="row">
        <div class="contact-desc top col-lg-12 col-md-12">
          <div class="contact-desc right col-lg-6 col-md-6">
            <h2>Contact Us</h2>
            <h3>MAIN OFFICE</h3>
            <p>Lieu dit Chadenne<br>33126 Saint-Aignan<br><br>Tel: (+33) 05 57 24 95 98</p>
            <h3>EMAIL</h3>
            <p>info@lestroiscollection.com</p>
            <h3>WEBSITE</h3>
            <p>www.lestroiscollection.com</p>
            <h3>CONNECT WITH US</h3>
            <p><a href="#" class="facebook"><i class="fab fa-facebook"></i>facebook.com/lestroiscollection</a><br>
              <a href="#" class="instagram"><i class="fab fa-instagram"></i>@lestroiscollection</a><br>
              <a href="#" class="twitter"><i class="fab fa-twitter"></i>twitter.com/lestrois_</a><br>
              <a href="#" class="weixin"><i class="fab fa-weixin"></i>url.com</a><br><br><br>
            </p>
          </div>
		    </div>
      </div>
    </div>
  </div>
</section>
