<section id="vineyard-fronsac">
	<div class="container-fluid">
    	<div class="media">
    		<img class="fronsac-img" src="{{ site.baseurl }}img/fronsac.jpg">
    	</div>
    	<div>
    		<h1>Fronsac</h1>
    	</div>
    	<div class="container vineyard-txt">
    		<ul>
    			<li>Like Saint-Emilion, just a few miles to the east, Fronsac has a picturesque landscape made up of woodland and hills.</li>
    			<li>The soils here are composed more of sandstone and limestone than clay, giving the vines a certain resistance to hotter weather.</li>
    			<li>Merlot is the dominant grape in Fronsac and is regularly paired with Cabernet Franc. Malbec is used to add complexity to the wines and Cabernet Sauvignon may also be included, although it is less commonly used because it doesn't ripen as well in the appellation's cooler soils.</li>
    			<li>It also has a rich history reaching back hundreds of years, when the area was much favored by French nobility.</li>
    			<li>The appellation is known for offering affordable alternatives to the high-priced wines of  the Médoc, Pomerol and Saint-Émilion.</li>
    		</ul>
            <h3>Types of Soil</h3>
            <div class="sand-grape-type">
                <img src="{{ site.baseurl }}img/gravel.png">
                <h4>GRAVEL</h4>
                <img src="{{ site.baseurl }}img/chalky.png">
                <h4>CHALKY-CLAYOUS</h4>
            </div>
            <h3>Grapes</h3>
            <div class="sand-grape-type">
                <img src="{{ site.baseurl }}img/red.png">
                <h4>RED</h4>
                <img src="{{ site.baseurl }}img/white.png">
                <h4>WHITE</h4>
            </div>
    	</div>
    </div>
</section>