<!-- Slider Start -->
<section id="journey-home">
  {% include nav.html %}
  <div class="container">
    <div class="media">
      <div>
        <h1>The Journey</h1>
        <div class="journey-text">
        	<p>It all started a decade ago with a small wine management company in Bordeaux. It was a challenging journey but it opened doors and led us to gaining deep insight on the French wineindustry. The experience was priceless.</p>
        	<p>Along the journey, we continued to grow using our extensive research and knowledge inviticulture from grasping the concept of terroir to the finer details of the vinification process.</p>
        	<p>We are blessed to have continuing deep mutual relationship with our skilled wine masters with shared values that taught us every wine has its worth and presence. And it is not measured by its price tag.</p>
        	<p>With all above, we learned to adapt, change, and improve over the years and nowto revolutionise.</p>
        	<p>At Les Trois, we believe excellent wines are exclusively crafted while retainingits unique heritage and character.</p>
        	<img class="journey-img" src="{{ site.baseurl }}img/journey.jpg">
        </div>
        <h1>Our Mission</h1>
        <div class="journey-text">
        	<p>We are passionate about creating the finest wines.<br>We go great lengths to ensure our wines meet high standard of quality.</p>
        	<p>“Sharing is Caring” a simple phrase that inspires us towards the establishment of Les Trois. We believe sharing cultivates a mutual relationship: building the deeper sense ofconnection with people and cultures.Sharing gives a sense of responsibility towards the society and we would like toinculcate the act of sharing starting with our wines.</p>
        	<p>Our passion for wines is simply rivaled by our love of sharing it with our friends.There is no greater pleasure drinking wines with close company; creating aspecial moment, which is exclusively unique.</p>
        	<p>At Les Trois, we would like the privilege to be your friend.</p>
        </div>
      </div>
    </div>
  </div>
</section>