<section id="vineyard-medoc">
	<div class="container-fluid">
    	<div class="media">
    		<img class="fronsac-img" src="{{ site.baseurl }}img/medoc.jpg">
    	</div>
    	<div>
    		<h1>Médoc</h1>
    	</div>
    	<div class="container vineyard-txt">
    		<ul>
    			<li>One of the key appellations in the left bank of Bordeaux. Located between the Atlantic Ocean and the Gironde, covering an area of 16,500 hectares, origin of the name comes from the Latin word ‘inmédio-aquae’ which means ‘between the waters’. This has accentuated the abundance of water around the Médoc appellation.</li>
    			<li>Médoc has an alluvial soil composition of mainly sand, clay and gravel, it became a unique terrain in the Left Bank. Furthermore, the high gravel content also allows a good natural drainage.</li>
    			<li>Médoc is planted with Cabernet Sauvignon and Merlot, and to a lesser extent Petit Verdot and Malbec (locally called "Côt"). Also allowed within the AOC regulations are the varieties Cabernet Franc and Carmenere.</li>
    			<li>Top wineries like Château Lafite Rothschild, Château Latour, Château Haut-Brion, Château Margaux are all located in the Left Bank.</li>
    			<li>Wines produced from this appellation are delicate, they deliver fruit scents and flavors of cassis, blackberry, dark cherry, vanilla, coffee bean, spice and licorice; often tannic when young, harmonious and splendid when matured.</li>
    		</ul>
            <h3>Types of Soil</h3>
            <div class="sand-grape-type">
                <img src="{{ site.baseurl }}img/claylimestone.png">
                <h4>CLAY LIME STONE</h4>
                <img src="{{ site.baseurl }}img/argile.png">
                <h4>ARGILE</h4>
            </div>
            <h3>Grapes</h3>
            <div class="sand-grape-type">
                <img src="{{ site.baseurl }}img/red.png">
                <h4>RED</h4>
                <img src="{{ site.baseurl }}img/white.png">
                <h4>WHITE</h4>
            </div>
    	</div>
    </div>
</section>