<header>
  <div class="container-fluid">
    <div class="row">
      <div class="span2">
        <a class="navbar-brand" href="index.html">
          <img src="img/logo.png" alt="Logo">
        </a>
      </div>

        <div class="span2"></div>
        <div class="span8">
        <!-- header Nav Start -->
        </div>
    <div class="span2">
      <a class="navbar-menu" onclick="openNav()">
        <img src="img/menu.png" alt="Menu">
      </a>
    </div>
  </div>
</div>
<div id="myNav" class="overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">
    <img src="img/close.png" alt="Close">
  </a>
  <div class="overlay-content">
    <a href="journey.html">The Journey</a>
    <a href="people.html">Our People</a>
    <a href="vineyards.html">Our Vineyards</a>
    <a href="wines.html">Our Wines</a>
    <a href="contact.html">Contact Us</a>
  </div>
</div>
</header>

<script>
function openNav() {
  document.getElementById("myNav").style.width = "100%";
}

function closeNav() {
  document.getElementById("myNav").style.width = "0%";
}
</script>