<section id="our-people">
  {% include nav.html %}
  <div class="container">
    <div class="media">
      <div class="row">
        <div class="people-desc top col-lg-12 col-md-12">
          <div class="people-desc left col-lg-6 col-md-6">
            <h3>MARC FRANCOIS</h3>
            <p>Marc has worked in Saint-Émilion Grand Cru Classé properties since 1994. With more than 20 years of winemaking experience,  Marc is determined to create wines that are of superior quality equal to the Grand cru wines.</p>
          </div>
          <div class="people-desc right col-lg-6 col-md-6">
            <h3>LUDOVIC LABARRERE</h3>
            <p>Ludovic has worked with celebrity winemakers around the world and thus broaden his wine knowledge throughout the years. With a solid foundation, he is able to create wines that not only offer diverse flavours but also capturing the richness of its terroir.</p>
          </div>
		    </div>
      </div>
      <div class="row">
        <div class="people-desc col-lg-12 col-md-12">
          <div class="people-desc bottom left col-lg-6 col-md-6">
            <h3>NATHALIE BILLARD</h3>
            <p>A Master of wine with at least 20 years of winemaking experience in different countries, Nathalie pays meticulous attention to crafting wines that are delicate and with elegance but still showing aspects of fruit concentration and its terroir.</p>
          </div>
          <div class="people-desc bottom right col-lg-6 col-md-6">
            <h3>PIERRE SALLAUD</h3>
            <p>Pierre grew his technical skills and discipline through working in Saint-Émilion Grand Cru Classé property. He has a strong approach in crafting wines that are fruit-driven and exhibits the unique essence of each plot.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
