<section id="our-wines">
  <div class="container">
    <div class="media">
      <div class="row">
        <div class="wine-desc col-lg-12 col-md-12">
          <div class="col-lg-6 col-md-6">
            <h1>Our Wines</h1>
          </div>
          <div class="col-lg-5 col-md-5">
            <p>We are passionate about making wines that bring together great company and will be the centerpiece of unique connections and experiences.</p>
          </div>
		    </div>
      </div>
      <div class="row">
        <div class="wine-carousel col-lg-12 col-md-12">
          <a href="wines.html?slide=0"><img src="{{ site.baseurl }}img/blackbottle.png" alt=""></a>
          <a href="wines.html?slide=1"><img src="{{ site.baseurl }}img/redbottle.png" alt=""></a>
          <a href="wines.html?slide=2"><img src="{{ site.baseurl }}img/goldbottle.png" alt=""></a>
          <a href="wines.html?slide=3"><img src="{{ site.baseurl }}img/greenbluebottle.png" alt=""></a>
          <a href="wines.html?slide=4"><img src="{{ site.baseurl }}img/whitebottle.png" alt=""></a>
        </div>
      </div>
    </div>
  </div>
</section>
