<section id="our-story">
  <div class="container-fluid">
    <div class="media">
    	<div class="story-desc">
      		<h1>Our Story</h1>
      		<p>The Latin phrase “Omne trium perfectum” translates to everything that comes in threes is perfect or complete. That was how the name Les Trois was chosen not only with an aim towards perfection but also incorporating our mission, vision and values of the company.</p>
	
          <p>N.B “Weather, Terroir and the People” - the three key elements to making perfect wine</p>

          <a class="further-story" href="journey.html" >READ OUR STORY</a>
		</div>
    </div>
  </div>
</section>