<section id="vineyard-pomerol">
	<div class="container-fluid">
    	<div class="media">
    		<img class="fronsac-img" src="{{ site.baseurl }}img/pomerol.jpg">
    	</div>
    	<div>
    		<h1>Pomerol</h1>
    	</div>
    	<div class="container vineyard-txt">
    		<ul>
    			<li>Pomerol lies immediately to the east and north-east of Libourne. It is the smallest of all the major Bordeaux wine producing appellations, with only 800 hectares under vine in Pomerol. This miniscule area's wines define the Merlot grape at its very best.</li>
    			<li>It stands on a gravel bank (a feature it shares with the prestigious appellations of the Médoc). The soils of the Pomerol region are very diverse with a mixture of gravel, sand and clay scattered across the plateau.</li>
    			<li>Pomerol is the home of the three most expensive wines in all of Bordeaux, Petrus, Lafleur and Le Pin.</li>
    			<li>All Pomerol producers were required to make their wines at their chateau, which must be located within the boundaries of the appellation.</li>
    			<li>Pomerol is exclusively a red wine with the only permitted grape varieties for AOC wine being Merlot, Cabernet Franc (Bouchet), Cabernet Sauvignon and Malbec (Pressac). And its wines are known to be of maximum elegance, richness, and complexity.</li>
    		</ul>
            <h3>Types of Soil</h3>
            <div class="sand-grape-type">
                <img src="{{ site.baseurl }}img/claylimestone.png">
                <h4>CLAY LIME STONE</h4>
                <img src="{{ site.baseurl }}img/argile.png">
                <h4>ARGILE</h4>
            </div>
            <h3>Grapes</h3>
            <div class="sand-grape-type">
                <img src="{{ site.baseurl }}img/red.png">
                <h4>RED</h4>
                <img src="{{ site.baseurl }}img/white.png">
                <h4>WHITE</h4>
            </div>
    	</div>
    </div>
</section>