<section id="vineyard-emilion">
	<div class="container-fluid">
    	<div class="media">
    		<img class="fronsac-img" src="{{ site.baseurl }}img/emilion.jpg">
    	</div>
    	<div>
    		<h2>Lussac-Saint-Émilion</h2>
    	</div>
    	<div class="container vineyard-txt">
    		<ul>
    			<li>Located on the right bank of the Garonne and Dordogne rivers, the amphi-theater shaped Lussac Saint-Émilion facing south equips its vineyards with naturally good drainage and plenty of sunlight.</li>
    			<li>The terroir of Lussac is characterized by the diversity of its soils, distributed between the plateaus, the sides of the hills, and small valleys, the vines grow in mainly clayey limestone soils.</li>
    			<li>The grape varieties permitted within the Lussac-Saint-Émilion appellation are Cabernet Franc, Cabernet Sauvignon, Malbec and Merlot. Merlot usually dominates the blend.</li>
    			<li>To qualify for the Lussac-Saint-Emilion appellation, wines must contain a minimum of 11% alcohol and come from vineyards planted to a density of less than 5500 vines per hectare. Wines made from hybrid vines or those under three years old do not qualify.</li>
    			<li>The Lussac wines express delicious, intense aromas with notes of red fruit and underlying hints of liquorice, prune and spice.</li>
    		</ul>
            <h3>Types of Soil</h3>
            <div class="sand-grape-type">
                <img src="{{ site.baseurl }}img/sandygravel.png">
                <h4>SANDY GRAVEL</h4>
                <img src="{{ site.baseurl }}img/siltyclay.png">
                <h4>SILTY CLAY</h4>
            </div>
            <h3>Grapes</h3>
            <div class="sand-grape-type">
                <img src="{{ site.baseurl }}img/red.png">
                <h4>RED</h4>
                <img src="{{ site.baseurl }}img/white.png">
                <h4>WHITE</h4>
            </div>
    	</div>
    </div>
</section>