<section id="testimonial">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12">
				<div class="carousel slide" data-ride="carousel" id="quote-carousel">
					<ol class="carousel-indicators">
						<li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
						<li data-target="#quote-carousel" data-slide-to="1"></li>
						<li data-target="#quote-carousel" data-slide-to="2"></li>
					</ol>
					<div class="story-desc carousel-inner">
						<div class="item active">
							<div class="row">
								<div class="col-sm-12">
									<h1>“There is a crazy level of class and concentration here with so much density and also freshness it is incredible. Black ink and meaty spice mark the plum-drenched fruit. This is a heroic wine."</h1>
									<p>- MATTHEW JUKES</p>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="row">
								<div class="col-sm-12">
									<h1>"Fragrant and very attractive on the nose, this is a modern and silky wine with smart oak and a youthful tang of acidity on the back of the palate. Well-made and classic, I like it."</h1>
									<p>- MATTHEW JUKES</p>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="row">
								<div class="col-sm-12">
									<h1>"Very impressive with a superb, floral nose, this wine uses quite a lot of oak and this comes through in a dry finish, which is currently a little out of balance with the rest of the experience. Nonetheless, this is a wonderful wine with a well- formed character."</h1>
									<p>- MATTHEW JUKES</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
  	</div>
</section>