<section id="values">
  <div class="container-fluid">
    <div class="media">
      	<h1>Values</h1>
      	<img class="values-img" src="{{ site.baseurl }}img/values.jpg">
        <div class="values-text">
        	<h2>INTEGRITY</h2>
        	<p>Honesty is our priority</p>
        	<h2>QUALITY</h2>
        	<p>Consistent and only the finest</p>
        	<h2>PASSION</h2>
        	<p>Sharing our love</p>
        	<h2>DRIVEN</h2>
        	<p>Strive to be better</p>
		</div>
    </div>
  </div>
</section>