<section id="vineyards">
  <div class="container-fluid">
    <div class="media">
        <video autoplay muted loop id="vineyard-video">
          <source src="{{ site.baseurl }}img/video.mp4" type="video/mp4">
        </video>
    	<div class="story-desc">
      		<h1>We work exclusively with skilled wine masters to produce excellent crafted wines that retain unique heritage and character.</h1>
          <a class="further-story" href="vineyards.html" >OUR VINEYARDS</a>
		  </div>
    </div>
  </div>
</section>