<section id="vision">
  <div class="container-fluid">
    <div class="media">
    	<div class="vision-text">
      		<h1>Our Vision</h1>
          <h2>Every wine has its worth.<br>But it is not measured by its price.</h2>
      		<p>We believe everyone deserves to enjoy and have access to excellent wines at a great value without compromising its flavour and quality.We pledge to produce fine wines; finding the best balance of quality and price.We want to create this opportunity for you to enjoy this experience with the best of both worlds.</p>
		</div>
    </div>
  </div>
</section>